
#menu-v li, #menu-v a {zoom:1;} /* Hacks for IE6, IE7 */
#menu-v, #menu-v ul
{
    width: 100%; /* Main Menu Item widths */
    border-bottom: 1px solid #e9e9e9;
    border-top:none;
    position: relative; font-size:0;
    list-style: none; margin: 0; padding: 0; display:block;
    z-index:9;
}
                
/* Top level menu links style
---------------------------------------*/

#menu-v li
{
    background: #FFF url(bg.gif) repeat-x 0 2px;
    list-style: none; margin: 0; padding: 0;
}
#menu-v li a
{
    font: normal 14px "Open Sans",sans-serif;
    border-top: 1px solid #e9e9e9;
    display: block;
    /*overflow: auto; force hasLayout in IE7 */
    color: #1f1a17;
    text-decoration: none;
    line-height:26px;
    padding-left:8px;
	line-height:35px;
	outline:none !important;         
}
#menu-v ul li a
{
    line-height:30px;
	outline:none !important;
}
                
#menu-v li a.arrow:hover
{
    background-image:url(arrowon.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
        
/*Sub level menu items
---------------------------------------*/
#menu-v li ul
{
    position: absolute;
    width: 260px; /*Sub Menu Items width */
    visibility:hidden;
	background-color:#000000 !important;
	margin:0 0 0 -30px;
	border-bottom:none !important;
	z-index:10000000000000000 !important;
}
#menu-v li ul li a{
border-top:1px solid #ffffff;
outline:none !important;
}
        
#menu-v a.arrow
{
    background-image:url(arrow.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
#menu-v li:hover, #menu-v li.onhover
{
    background-position:0 -62px;
	background-color:#eeeeee;
}
.menu-v-active
{
    background-position:0 -62px;
	background-color:#eeeeee;
}
#menu-v ul li
{
    background: rgba(255, 255, 255, 0.86);
    background-image:none;
}
#menu-v ul li:hover, #menu-v ul li.onhover
{
    background: #FFF;
    background-image:none;
}
        
/* Holly Hack for IE \
* html #menu-v  li
{
    float:left;
    height: 1%;
}
* html #menu-v  li a
{
    height: 1%;
}*/
/* End */